body {
  background: blanchedalmond;
}

.container {
  border-style: solid;
  border-width: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: auto;
}

.a {
  height: 300px;
  width: 100%;
  border-style: solid;
  border-width: 5px;
}

.b {
  height: 600px;
  width: 125vh;
  border-style: solid;
  border-width: 5px;
}

.c {
  height: 600px;
  width: 51vh;
  border-style: solid;
  border-width: 5px;
}

@media(min-width: 430px) {
  body {
    background: tan;
  }

  .container {
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
  }

  .a,
  .c {
    height: 300px;
    border-style: solid;
    border-width: 5px;
    width: 100vh;
  }

  .b {
    height: 1020px;
    border-style: solid;
    border-width: 5px;
    width: 100vh;
  }
}